/* RoomCard.css */
.room-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  width: 300px; /* Atur lebar maksimum kartu lebih kecil */
  height: 250px; /* Atur tinggi maksimum kartu */
  overflow: hidden; /* Sembunyikan konten yang melampaui batas */
  box-sizing: border-box; /* Menghitung padding dan border dalam lebar dan tinggi */
}

.room-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.room-header {
  font-size: 1.5em;
  margin-bottom: 20px; /* Sesuaikan margin bawah untuk lebih rapi */
  color: #333;
  justify-content: center;
  display: flex;
  align-items: center;
}

.room-details {
  padding: 12px;
  text-align: left;
  margin-bottom: 16px;
  flex-grow: 1; /* Memungkinkan detail untuk mengisi ruang yang tersisa */
  color: #000;
  font-family: Gilroy-SemiBold;
  font-size: 18.259px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.detail-button {
  background-color: #1ABC9C;
  color: white;
  border: none;
  padding: 11.816px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 11.816px;
  align-items: center; /* Untuk membuat konten di tengah secara vertikal */
  justify-content: center; /* Untuk membuat konten di tengah secara horizontal */
  width: 100%; /* Memanjang ke seluruh lebar container */
  max-width: 300px; /* Batas lebar maksimum tombol */
}

.detail-button:hover {
  background-color: #0056b3;
}

.room-grid {
  display: grid; /* Menggunakan grid */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsif */
  gap: 16px;
}