body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #e0e6ed;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header h1 {
  margin: 0;
  color: #000;
  font-family: Gilroy-SemiBoldItalic;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.header nav a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}

.app main {
  padding: 20px;
}

.app h2 {
  text-align: center;
  color: #334e68;
  margin-bottom: 45px;
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: #f6ad55;
  text-align: center;
  padding: 10px;
}
