body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header h1 {
  margin: 0;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
}

.header nav a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}

/* Main Application */
.app main {
  padding: 20px;
  max-width: 1200px; /* Menentukan lebar maksimum */
  width: 100%; /* Lebar penuh */
  margin: 0 auto; /* Centering */
}

.app h2 {
  text-align: center;
  color: #334e68;
  margin-bottom: 45px;
}

/* Grid Layout for Rooms */
.room-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
  max-width: 1200px; /* Menentukan lebar maksimum */
  width: 100%; /* Lebar penuh */
  margin: 0 auto; /* Centering */
}

/* Footer Wrapper */
.footer-wrapper {
  width: 100%;
  background-color: #273c4e; /* Warna latar belakang biru gelap */
  display: flex;
  justify-content: center; /* Centering horizontal */
  padding: 20px 0; /* Padding atas dan bawah */
}

/* Footer */
.footer {
  color: white; /* Warna teks putih */
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px; /* Lebar maksimum */
  box-sizing: border-box;
  font-size: 14px; /* Ukuran font */
}

/* Tautan di footer */
.footer a {
  color: #ffdd57; /* Warna kuning terang untuk tautan */
  text-decoration: none;
}

.footer a:hover {
  color: #3498db; /* Warna biru terang saat hover */
}
